@media only screen and (min-width : 1024px){

    .sun-container{
        position: fixed;
        left: 0;
        transform: translate(-100%, 0);
        animation: sun-move 60s infinite ease-in-out;
    }


    @keyframes sun-move {
        from {
            transform: translate(-240px, 0);
        }

        to{
            transform: translate(calc(240px + 100vw), 0);
        }
    }
}

/* cover the sun container on a div and set as absolute to it doesn't maniplute the screen width */

