@media only screen and (min-width : 768px){

    .home-center{
        transform: translateY(85px);
    }

    h1{
        font-size: 3.8rem;
    }
    
    .first-message{
        font-size: 2rem;
        margin-bottom:10px ;
    }
    
    .second-message{
        font-size: 1.6rem;
    
    }

}
