
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'kelk';
    src: url('resources/fonts/kelk.ttf');
}

body{
    background-color: #1d97c1;
    color: #ffffe3;
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    overflow-x: hidden;
    display: flex;
    font-family: "kelk";
}

/*****************
    THE SUN    
*****************/

.sun-container {
    position: relative;
    display: flex;
    right: 100%;
    animation: sun-move 45s infinite ease-out;
}

@keyframes sun-move {
    from {
        transform: translate(-240px, 0);
    }

    to{
        transform: translate(calc(240px + 100vw), 0);
    }
}

.sun,
.wave1,
.wave2{
position: absolute;
border-radius: 50%;
}

.sun{
    left: -120px;
    top: -120px;
    width: 240px;
    height: 240px;
    margin-right:auto ;
    background-color:#e0bb20;
    box-shadow: 0px 0px 20px 10px #e0bb20;
    z-index: 2;
}

.wave1{
    left: -130px;
    top: -130px;
    width: 260px;
    height: 260px;
    background-color: #e6c94d;
    animation: wave1-move 20s infinite ease-in-out;
    z-index: 1;
}

@keyframes wave1-move {
    0% {
        box-shadow: 8px -8px 14px 4px #e6c94d;
    }

    50% {
        box-shadow: -8px 8px 40px 40px #e6c94d;
    }

    100% {
        box-shadow: 8px -8px 14px 4px #e6c94d;
    }
}

.wave2 {
    left: -150px;
    top: -150px;
    width: 300px;
    height: 300px;
    background-color: #ecd77a;
    animation: wave2-move 15s infinite ease-in-out;
    z-index: 0;
}

@keyframes wave2-move{

    0%{
        box-shadow: 8px -8px 14px 4px #ecd77a;
    }

    50%{
        box-shadow: -8px 8px 40px 40px #ecd77a;
    }

    100%{
        box-shadow: 8px -8px 14px 4px #ecd77a;
    } 

}

/******************
    HOME PAGE    
******************/

.home-center{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    transform: translateY(60px);
}

h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: 700;
}

.messages{
    width: 70vw;
    text-align: center;
}
.first-message{
    font-family: 'Aref Ruqaa', serif;
    font-size: 1.7rem;
    margin-bottom:20px ;
}

.second-message{
    font-family: 'Aref Ruqaa', serif;
    font-size: 1.3rem;
}

.clouds-div{
    position: relative;
}

.clouds{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.cloud{
    position: absolute;
    z-index: 3;
}

.cloud1{
    top:0;
    opacity: 0.9;
    width: 200px;
    height: 150px; 
    animation: cloud1-move 22s infinite ease-in-out;
}

@keyframes cloud1-move {
    
    from {
        transform: translate(-200px, 0);
    }

    to{
        transform: translate(calc(200px + 100vw), 0);
    }
}

.cloud2{
    top: 90px;
    opacity: 0.8;
    width: 180px;
    height: 140px;
    animation: cloud2-move 16s infinite linear reverse;
}

@keyframes cloud2-move {
    
    from {
        transform: translate(-180px, 0);
    }

    to{
        transform: translate(calc(180px + 100vw), 0);
    }
}

.cloud3{
    top: 45px;
    width: 160px;
    height: 130px;
    animation: cloud3-move 19s infinite ;
}

@keyframes cloud3-move {
    
    from {
        transform: translate(-160px, 0);
    }

    to{
        transform: translate(calc(160px + 100vw), 0);
    }
}